<form method="post" action="/Home/SaveData">
    <input type="text" name="data" placeholder="Введіть інформацію">
    <input type="datetime-local" name="expirationDate" placeholder="Оберіть дату і час">
    <button type="submit">Зберегти</button>
</form>

